.decarationFrame-container{
    width: 99%;
    height: 95%;
    position: relative;
    margin-top: 30px;
}
.decarationFrame-container div{
    width: 35%;
    height: 40%;
    position: absolute;
}
.paneton{
    top: 20%;
    left: 25%;
}
.pastel-artesanal{
    top: 25%;
    left: 51%;
}
.pastel{
    top: 30%;
    left: 5%;
}