.editable-cards-container{
    width: 50%;
    padding: 5px 0;
}
.editable-component-container{
    width: 98%;
    margin: 25px auto;
    padding: 40px 15px;
    border-radius: 20px;
    background-color: var(--secondary-color);
}
.FormControler-container{
    width: 100%;
}
.FormControler-container .form-controler_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.FormControler-container button{
   grid-column: 1/3;
}
.childrens-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.perfil-circle{
    margin: 0 auto;
    margin-bottom: 15px;
    grid-column: 1/3;
}
.userDetail-container{
    display: flex;
}
@media screen and (max-width: 630px) {
    .FormControler-container .form-controler_form{
        grid-template-columns: none;
    }
    .FormControler-container .form-controler_form{
        grid-template-columns: none;
    }
    .perfil-circle{
        grid-column: unset;
    }
}