.Header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 600;
}
.Header-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: auto;
}
.Header-list li a{
    color: var(--primary-color);
}
.header-container_img{
    height: 40px;
}
.Header-list .Header-list_link{
    display: inline;
    width: auto;
    padding-top: 5px;
    margin-left: 25px;
    color: var(--primary-color);
}
.check-nabvar, .lavel-nabvar{
    display: none;
}
@media screen and (max-width: 1100px) {
    .Header-container{
        display: flex;
        flex-direction: column;
    }
    .lavel-nabvar{
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: var(--terceary-color);
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 100;
        padding: 9px 0 0 10px;
    }
    .Header-list{
        display: none;
    }
    .header-container_img{
        display: none;
    }
    #check:checked ~ .Header-list{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: var(--terceary-color);
        z-index: 80;
        padding: 80px 0 0 0;
        text-align: center;
        animation: navbar .3s ease-in alternate both;
    }
    #check:checked ~ .header-container_img{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: calc(50% - 130px);
        width: 300px;
        height: auto;
        background-color: var(--terceary-color);
        z-index: 80;
        text-align: center;
        margin: 0 auto;
        animation: navbar .3s ease-in alternate both;
    }
    #check:checked ~ .perfil-links-navbar .Header-list{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 170px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--terceary-color);
        z-index: 80;
        text-align: center;
        animation: navbar .3s ease-in alternate both;
    }
    @keyframes navbar {
        from{
            transform: translateX(800px);
        }
        to{
            transform: translateX(0px);
        }
    }

}