.input-container{
    position: relative;
    padding: 5px 5px 10px 0;
}
.input_form{
    display: block;
    padding: .5rem 2rem;
    border-bottom: 1px solid rgb(70, 69, 69);
    background-color: transparent;
    outline: none;
    margin: 5px 0;
    width: 100%;
}
.input_label{
    color: rgb(32, 10, 73);
    transition: .5s;
    position: absolute;
    top: 18px;
    left: 1rem;
    padding: 0 .5rem;
}
.input_form:focus{
    border-color: black;
    outline: none;
}
.input_form:focus+.input_label{
    transform: translateY(-1.6rem);
    font-size: 17px;
}
.input_form:not(:placeholder-shown)+.input_label{
    transform: translateY(-1.6rem);
    transition: .5s;
    font-size: 17px;
}