.ProductCarts-container{
    width: 230px;
    height: 280px;
    position: relative;
    margin: 5px;
    border: 1px solid gray;
}
.ProductCarts-container_img{
    width: 100%;
    height: 170px;
    border-bottom: 1px solid gray;
}
.ProductCarts-container_img img{
    width: 100%;
    height: 100%;
}
.ProductCarts-container_info{
    height: 105px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ProductCarts-container_text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & p{
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
    & span{
        font-size: 14px;
        color: gray;
        text-decoration: line-through;
    }
}
.ProductCarts-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.ProductCarts-container_price{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.ProductCarts-container_text .ProductCarts_desc{
    position: absolute;
    text-decoration: none;
    background-color: #E5194A;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    top: -5px;
    left: -8px;
}
.ProductCarts-container_buton{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.ProductCarts_button{
    position: relative;
    background-color: #009746;
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    z-index: 50;
    cursor: pointer;
}