.ProductCarts-container{
    width: 220px;
    height: 260px;
    padding: 10px;
    position: relative;
    margin: 5px;
    background-color: red;
}
.ProductCarts-container_img{
    width: 100%;
    height: 160px;
    margin-bottom: 5px;
}
.ProductCarts-container_img img{
    width: 100%;
    height: 100%;
}
.ProductCarts-container_info{
    display: flex;
    height: 95px;
    justify-content: space-between;
}
.ProductCarts-container_text{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & p{
        font-size: 18px;
        margin: 0;
    }
    & span{
        font-size: 14px;
        text-decoration: line-through;
    }
}
.ProductCarts-title{
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}
.ProductCarts-container_price{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.ProductCarts-container_text .ProductCarts_desc{
    position: absolute;
    text-decoration: none;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px;
    top: -5px;
    left: -8px;
}
.ProductCarts-container_buton{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.ProductCarts_button{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    z-index: 100;
}