.taxes-container{
    width: 25%;
    display: inline-block;
    padding: 50px;
}
.taxes-container h1{
    font-size: 1.5em;
    font-weight: bold;
    margin: 50px auto;
}
.taxes{
    width: 100%;
    display: inline-block;
}
.taxes p{
    font-size: 18px;
    font-weight: 700;
    margin: 10px auto;
    padding: 20px 15px;
    border-radius: 15px;
    border: 1px solid gainsboro;
    position: relative;
}
.taxes p span{
    position: absolute;
    right: 10px;
    font-size: 20px;
    font-weight: 700;
}
.taxes .taxes-desc, .taxes .taxes-desc span{
    background-color: rgb(199, 199, 199);
    color: white;
}
.taxes .taxes-total, .taxes .taxes-total span{
    font-size: 24px;
    font-weight: 700;
    color: #E5194A;
    border-color: #E5194A;
}
.taxes-pay-button{
    background-color: #009746;
    color: white;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 5px auto;
    cursor: pointer;
}
.taxes-container_img{
    width: 50%;
    height: 10%;
    margin: 50px auto;
    top: 0;
    left: 0;
}