*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: 0;
}
:root{
    --primary-color: #009746;
    --secondary-color: #E5194A;
    --terceary-color: #ffcc01;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}